.DS_Store
/vendor
composer.lock
.phpunit.cache
.phpunit.result.cache

# Test artifacts
/cpresources
/tests/_output
/tests/_support/_generated
/tests/_craft/storage/*
!/tests/_craft/storage/runtime
/tests/_craft/storage/runtime/*
!/tests/_craft/storage/runtime/.gitkeep
/tests/_craft/config/project

tests/.env
